.item{
    display: inline-block;
    font-weight: bold;
    width: 100px;
}

.input-item{
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.input-id {
    display: inline-block;
    text-align: left;
}

.flex{
    display: flex;
    align-items: center;
}

.card{
    max-width:50%;
    margin: auto;
}

.btn-container {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: auto;
}

.edit-btn, .back-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.edit-btn{
    display: inline-flex;
    background-color: orange;
}

.back-btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background-color: aqua;
    color: black;
    text-align: center;
    text-decoration: none;
}

.required{
    color: red;
}

.image{
    width:100px;
    height: 100px;
}